@font-face {
    font-family: Noto Sans TC;
    src: url("/static/font/NotoSansTC-Light.otf") format("opentype");
}

@font-face {
    font-family: Cantarell;
    src: url("/static/font/Cantarell-Regular.ttf") format("opentype");
}

@font-face {
    font-family: Oxygen;
    src: url("/static/font/Oxygen-Light.ttf") format("opentype");
}

@font-face {
    font-family: Roboto;
    src: url("/static/font/Roboto-Light.ttf") format("opentype");
}

@font-face {
    font-family: Ubuntu;
    src: url("/static/font/Ubuntu-Light.ttf") format("opentype");
}